/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/**
 * Helpers
 */

.nopad {
    margin: 0 !important;
    padding: 0 !important;
    
    .et_pb_row,
    .et_pb_column {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.nopad-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
    
    .et_pb_row,
    .et_pb_column {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

.nopad-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    
    .et_pb_row,
    .et_pb_column {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}

.et_pb_code {
    
    p {
        padding: 0;
    }
    br {
        display: none;
    }
}

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {
    
    ul {
        list-style: none;
        padding: 0 !important;
        margin-bottom: 2em;
        
        li {
            list-style: none;
            
            a {
                font-size: 1.1em;
                border: 1px solid $border-color;
                border-bottom: none;
                display: block;
                width: 100%;
                padding: 0.5em 0.5em 0.5em 0.8em;
            }
            
            &:last-child {
                border-bottom: 1px solid $border-color;
            }
            
            &.is-active {
                
                a {
                    border-left: 2px solid $black;
                    font-weight: bold;
                }
            }
        }
    }
}

/**
 * Pagination
 */

#left-area {
    
    nav.pagination {
        
        ul {
            padding: 0;
        }
    }
}

nav.pagination {
    clear: both;
    display: block;
    margin: 1.5em 0;
    text-align: center;

    ul {
        display: inline-block;
        background-color: $white;
        white-space: nowrap;
        padding: 0;
        clear: both;
        border-left: 1px solid $gray;
    }

    li {
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden;
        border: 1px solid $gray;
        border-left: none;
    }

    a, span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: normal;
        padding: 0.75em;
        min-width: 1em;
        display: block;
        color: $accent-color;

        &:hover, &:focus {
            background-color: $accent-color;
            color: $white;
        }
    }

    .current{
        cursor: default;
        color: inherit;

        &:hover, &:focus {
            background-color: inherit;
            color: inherit;
        }
    }
}
